<h1>New Game!</h1>

<div class="container">
  <% @letters.each do |letter| %>
  <div class="box-design"><p><%= letter  %></p> </div>
  <% end %>
</div>
<br>
<br>
<br>

<form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
  <input type="text" name="name" placeholder="What is the longest word you can find?">
  <input type="submit">
</form>
